# Environment variables
.env
.env.local
.env.development

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# System / logs
*.log
Thumbs.db
Desktop.ini
